<div class="menu">
  <div class="artists">
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Nature</div>
        <div class="menu__count">7/10</div>
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/0.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Sadness</div>
        <div class="menu__count">7/10</div>
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/10.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">People</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/20.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Portraits</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/30.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Golden</div>
        <div class="menu__count"></div>
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/40.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Abstract</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/50.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Childhood</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/60.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Forest</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/70.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Glory</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/80.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Home</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/90.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Traditions</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/100.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Foreign</div>
        <div class="menu__count">7/10</div>
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/110.jpg" alt="" class="menu__image">
      </a>
    </div>
  </div>
  <div class="pictures">
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Nature</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/120.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Sadness</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/130.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">People</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/140.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Portraits</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/150.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Golden</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/160.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Abstract</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/170.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Childhood</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/180.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Forest</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/190.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Glory</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/200.jpg" alt="" class="menu__image">
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Home</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/210.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Traditions</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/220.jpg" alt="" class="menu__image">        
      </a>
    </div>
    <div class="menu__item">
      <div class="menu__item-text">
        <div class="menu__title">Foreign</div>
        <div class="menu__count">7/10</div>  
      </div>
      <a class="menu__link MENU__LINK--CATEGORY" href="#quiz">
        <img src="/src/images/img/230.jpg" alt="" class="menu__image">
      </a>
    </div>
  </div>
</div>